.page-wrapper {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-sans);
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: var(--color-primary-variant);
    user-select: none;
    overflow-x: hidden;
}
